.hoteldiv{
  display: inline-block;
  height: 200px;
  width: 720px;
  border: black;
  border-style: solid;
}
.hoteldiv_1{
    float: left;
    width: 200px;
    height: 200px;
}
.hoteldiv_1_1{
    background: #0a6cd6;margin: 25px;height: 150px;
}
.hoteldiv_2{
    float: left;
    width: 320px;
    height: 200px;
}
.hoteldiv_2_1{
    padding: 5px;
    font-size: 25px;
    width: 320px;
    height: 66.6px;
}
.hoteldiv_2_2{
    padding: 5px;
    font-size: 20px;
    width: 320px;
    height: 66.6px;
}
.hoteldiv_2_3{
    padding: 5px;
    font-size: 15px;
    width: 320px;
    height: 66.6px;
}
.hoteldiv_3{
    float: left;
    width: 200px;
    height: 200px;
}
.hoteldiv_3_1{
    height: 100px;
    width: 200px;
}
.hoteldiv_3_2{
    height: 100px;
    width: 200px;
}
.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.table_cell {
}
._流程形状 {
}
#input_search{
    position: relative;
    top: -10px;
    font-size: 30px;
    outline: none;
    width: 190%;
    height: 58.5px;
    border: none;
}
